<div class="card bg-transparent border-0 mx-auto mb-5">
  <span class="fs-3 text-danger fw-bold">呪物No.<%= cursed_item.id %>【<%= cursed_item.name %>】</span>
  <div class="youtube">
    <iframe loading="lazy"  src="https://www.youtube.com/embed/<%= cursed_item.youtube_id %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
