<div class="swiper mt-3 rounded border">
  <div class="swiper-wrapper text-center my-5">
    <div class="swiper-slide">
      <p class="fs-2">どんなサービス？</p>
      <p>身の回りのモノを写真に撮るだけで<br />それが呪物かどうか確認できます</p>
      <p class="fs-6 mt-5">次のスライド：使い方は？</p>
    </div>
    <div class="swiper-slide">
      <p class="fs-2">使い方は？</p>
        <p>1．撮影した写真を選択<br />2．確認ボタンを押す</p>
      <p class="fs-6 mt-5">次のスライド：呪物ってなに？</p>
    </div>
    <div class="swiper-slide">
      <p class="fs-2">呪物ってなに？</p>
      <p>人間の理解を超えた<br />呪いの力をもつモノのこと</p>
      <p class="fs-6 mt-5">次のスライド：呪物は良くないモノ？</p>
    </div>
    <div class="swiper-slide">
      <p class="fs-2">呪物は良くないモノ？</p>
      <p>魔除けの効果をもつモノもある<br />たとえば神社のお守りや御札</p>
      <p class="fs-6 mt-5">次のスライド：どんなサービス?</p>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>