<tr>
  <td><%= labeling.cursed_item_id %></td>
  <td><%= cursed_item_name(labeling.cursed_item_id) %></td>
  <td><%= labeling.label_name_id %></td>
  <td><%= label_name(labeling.label_name_id) %></td>
</tr>