<div class="text-center">
  <%= link_to new_admin_labeling_path do %>
    <button type="button" class="btn btn-primary">Labelingを追加する</button>
  <% end %>
</div>
<h1 class="mt-3">Labeling一覧</h1>
<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">cursed_item_id</th>
      <th scope="col">cursed_item_name</th>
      <th scope="col">label_name_id</th>
      <th scope="col">label_name</th>
    </tr>
  </thead>
  <tbody>
    <%= render @labelings %>
  </tbody>
</table>